- @title = "Search results"
%table.systems#results
  %thead
    %tr
      - for colname in @columns
        %th&= colname
  = partial 'search/system', :collection => @results, :locals => { :cols => @columns }
